@media screen and (max-width: 992px) {
    .skills-div {
        border: 1px black solid;
        border-radius: 20px;
    }
}

@media screen and (min-width: 992px) {
    #front-end-section, #back-end-section{
        border-right: 1px black solid;
    }
}