@media screen and (min-width: 720px) {
    .nav-item { font-size: 1rem;}
    .btn {width: 260px;}
}
@media screen and (min-width: 768px) {
    .project-description p {    
        height: 200px;
        overflow: hidden;
      }
}
