.right-text {text-align: right;}

.header-info {padding: 10px;}

.section-marker {color: red;}

.list-group-item {
    padding: .75rem 0;
    border: none;
}

@media screen and (max-width: 768px) {
    .right-text {text-align: left;}
}